#memory-game {
  border: 1px solid black;
  width: 1001px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.memory-block {
  display: flex;
  width: 200px;
  height: 200px;
}

.memory-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
